img {
    display: block;
    margin: 0 auto;
}
.logo {
	margin-top: 5px;
}

body{
    font-family: 'Handlee', cursive;
	background-color: #F7F7F7;
}

label {
  display: block;
  color: #7d7d7d;
  font-size: 1.4rem;
}

/* Tables */
td {
	font-family: 'Ubuntu', sans-serif;
}
th {
	font-size: 20px;
}

.floatBlock {
  margin: 0 1.81em 0 0;
}

.labelish {
	color:#7d7d7d;
	margin: 0;
}

p{
	display:inline-flex;
	font-family: 'Handlee', cursive;
}

h2{
	font-family: 'Handlee', cursive;
	text-align: center;
}

#viewabsent{
	margin-top: 20%;
}

/* Navbar */
nav {
	background-color:#E0AA7C;
	border-bottom: 3px solid #F7F7F7;
	font-family: 'Handlee', cursive;
}

button {
	font-family: 'Handlee', cursive;
}

nav ul li a {
    width: 100%;
    color: white;
	font-size: 20px;
    text-align: center;
}

nav ul a:hover {
    background-color:white;
}

nav ul li a:hover {
    color: #E0AA7C;
}
/* End of navbar */

/* Buttons */

/* Input fields */   
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #E0AA7C!important;
    box-shadow: 0 1px 0 0 #E0AA7C!important;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #E0AA7C;
}

input:not([type]).valid, input:not([type]):focus.valid, 
input[type=text].valid, input[type=text]:focus.valid, 
input[type=password].valid, input[type=password]:focus.valid, 
input[type=email].valid, input[type=email]:focus.valid, 
input[type=url].valid, input[type=url]:focus.valid, 
input[type=time].valid, input[type=time]:focus.valid, 
input[type=date].valid, input[type=date]:focus.valid, 
input[type=datetime].valid, input[type=datetime]:focus.valid, 
input[type=datetime-local].valid, 
input[type=datetime-local]:focus.valid, 
input[type=tel].valid, input[type=tel]:focus.valid, 
input[type=number].valid, input[type=number]:focus.valid, 
input[type=search].valid, input[type=search]:focus.valid, 
textarea.materialize-textarea.valid, 
textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid #E0AA7C;
    box-shadow: 0 1px 0 0 #2E373C;
}

.input-field label {
    color:#2E373C;
}
/* End of input fields */  

/* Radio Buttons */
[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
    border: 2px solid #34BEEF;
}
[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    background-color: #34BEEF;
}
/* End of Radio Buttons */

/* Checkboxes */
[type="checkbox"]:checked + label:before {
    border-right: 2px solid #E0AA7C;
    border-bottom: 2px solid #E0AA7C;
}
/*End of Checkboxes */

#homeList {
	column-count: 2;
	column-width: 50%;
	column-gap: 0;
}

.homeButton {
		margin: 0.2%;
}
.btn-large {
	background-color: #E0AA7C;
	height: 5rem;
	width: 15rem;
	margin-bottom: 1rem;
}
.btn-large:hover, .btn-large:active {
	background-color: #2e373c;
	color: #E0AA7C;
}
.btn {
	background-color: #E0AA7C;
}

.btn:hover, .btn:active {
	background-color: #2e373c;
	color: #E0AA7C;
}


